    <nav class="navbar navbar-default navbar-fixed-left">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             <span class="network-name">  <%= link_to 'Time Tracker', root_path, class: "navbar-brand topnav" %>   </span>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <% unless current_user %>
                    <li>
                        <%= link_to 'Login', new_user_session_path %>
                    </li>
                    <li>
                       <%= link_to 'Signup', new_user_registration_path %>
                    </li>
                    
                    <% else %>
                     <li>
                      <%= link_to 'Dashboard', dashboards_path %>
                    </li>
                     <li>
                      <%= link_to 'Time tracking', posts_path %>
                    </li>
                     <li>
                       <%= link_to 'Take Leave', leavedays_path %></li>
                    </li>

                    <li>
                      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</nav>




<% if flash[:notice] %>
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>

<% elsif flash[:alert] %>
    <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> You need to sign in or sign up before continuing.
    </div>
<% end %>

        </div>
    </section>
  </div>
</div>
