
<div class="container">
  <div class="nav nav-tabs">
  <ul>
        </li><%= link_to 'Home', root_path %></li>
     

       <% unless current_user %>
       </li> <%= link_to 'SignIn', new_user_session_path %></li>
         </li> <%= link_to 'Signup', new_user_registration_path %></li>
         
         
       <% else %>
        </li>  <%= link_to 'Profile', edit_user_registration_path %></li>
      </li>  <%= link_to 'SignOut', destroy_user_session_path, :method => :delete %></li>
      
      <% end %>
  </ul>
    </div>
    </div>
<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
<% if flash[:notice] %>
    <p id="notice" ><%= flash[:notice] %></p> 
<% elsif flash[:alert] %>
    <p id="alert" ><%= flash[:alert] %></p> 
<% end %>

        </div>
    </section>
  </div>
</div>
