<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.label :date %>
    <%= f.text_field  :date, :value => Date.today, :disabled => true %>
  </div>

  <div class="field">
    <%= f.label :timein %>
    <%= f.time_select :timein %>
  </div>

  <div class="field">
    <%= f.label :timeout %>
    <%= f.time_select :timeout %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, cols: "70", rows: "10"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', posts_path  %>
   </div>
    </section>
  </div>
</div>