 <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
				<h3 class="dark-grey">Time</h3>
<p>
  <strong>Date:</strong>
  <%= @post.date.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>Timein:</strong>
  <%= @post.timein.strftime("%H-%M-%S") %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @post.timeout.strftime("%H-%M-%S") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>


<%= link_to 'Back',  posts_path, class: 'btn btn-danger' %>

   </div>
</div>

