<%= form_for(leaveday) do |f| %>
  <% if leaveday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leaveday.errors.count, "error") %> prohibited this leaveday from being saved:</h2>
      <ul>
      <% leaveday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datefrom %>
    <%= f.date_select :datefrom %>
  </div>

    <div class="field">
    <%= f.label :dateto %>
    <%= f.date_select :dateto %>
  </div>

  <div class="field">
    <%= f.label :leavetype %>
    <%= f.select :leavetype, [ 'Annual Leave','Personal Leave','Sick Leave' ], :prompt => 'Select One' %>
  </div>

  <div class="field">
    <%= f.label :duration%>
    <%= f.select :duration, [ '1','2','3','4','5','Other' ], :prompt => '-' %>
     <%= f.label '(Day)' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description , cols: "70", rows: "10" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
