<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-12">	
        <h1>Leaveday </h1>
          <div class="media">
              <div class="media-body">
                <table class="table table-hover">


                   <div class="pull-right range-query">
                      <%= form_tag posts_path, method: :get do %>
                      <%= text_field_tag 'search[date_from]'%>
                      <%= text_field_tag 'search[date_to]' %>
                      <%= submit_tag 'Search', class: 'btn search-button' %>
                      <% end %>

  <thead>
    <tr>
      <th>Date-From</th>
      <th>Date-To</th>
       <th>Duration(day)</th>
      <th>Leavetype</th>  
      <th>Description</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leavedays.each do |leaveday| %>
      <tr>
  
        <td><%= leaveday.datefrom.strftime("%d-%b-%Y") %></td>
        <td><%= leaveday.dateto.strftime("%d-%b-%Y") %></td>
        <td><%= leaveday.duration %></td>
        <td><%= leaveday.leavetype %></td>
        <td><%= leaveday.description %></td>
        <td><%= leaveday.user.email %></td>
        <td><%= link_to 'Show', leaveday, class:'btn btn-sm btn-primary' %></td>
      <% if leaveday.user == current_user %>  
        <td><%= link_to 'Edit', edit_leaveday_path(leaveday), class:'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Delete', leaveday, class:'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
       
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Leaveday', new_leaveday_path, class:"btn btn-default" %>



   </div>
  </div>
   </div>
    </section>
  </div>
</div>