 <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
    <h2>Show leaveday</h2>
<p>
  <strong>Date:</strong>
  <%= @leaveday.datefrom.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Date:</strong>
  <%= @leaveday.dateto.strftime("%d-%m-%Y") %>
</p>


<p>
  <strong>Leavetype:</strong>
  <%= @leaveday.leavetype %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @leaveday.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @leaveday.description %>
</p>


<%= link_to 'Back', leavedays_path %>

</div>
  </div>