<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
    <h2>Show leaveday</h2>
<p>
  <strong>Date:</strong>
  <%= @leaveday.datefrom.strftime("%d-%m-%Y") %>
</p>

<p>
  <strong>Date:</strong>
  <%= @leaveday.dateto.strftime("%d-%m-%Y") %>
</p>


<p>
  <strong>Leavetype:</strong>
  <%= @leaveday.leavetype %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @leaveday.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @leaveday.description %>
</p>

<%= link_to 'Edit', edit_leaveday_path(@leaveday) %> |
<%= link_to 'Back', leavedays_path %>
