<!DOCTYPE html>
<html>
  <head>
    <title>Time Tracker</title>
    <meta name="viewport" content="width=device-width", initial-scale-1, shrink-to-fit=no>
    <%= csrf_meta_tags %>

       <!-- Prevent Routing Error when Signout :method DELETE -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <!-- Chart.js-->
        <%= javascript_include_tag "//www.google.com/jsapi" %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag "application", "chartkick" %>

<!-- Sweetalert -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'sweetalert.min.js' %>
    <%= stylesheet_link_tag 'sweetalert.css' %>
    <%= stylesheet_link_tag 'login.scss' %>



    <!-- jQuery -->
     <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


<!-- Fonts and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!--icon cloud flare -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


  </head>

  <body>
  
    <%= render 'shared/header' %>
    <%= yield :charts_js %> 
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
